/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* variables */
  :root {
    --main-bg-color: white;
    --main-text-color: #353535;
    --container-bg-color: rgb(238, 238, 238);
    --nav-bg-color: black;
    --nav-text-color: lightgray;
    --nav-hover-color: darkgray;
    --nav-active: white;
    --mason-border-color: #999;
    --brand-color: black;
    --font-serif-titles: 'Ubuntu', serif;
    --font-serif-text: 'Montserrat', serif;
    --container-bg-color: #eeeeee;
    --masonry-bg-color: #fff;
    --masonry-link: black;
    --facebook-bg: #3B5998;
    --twitter-bg: #55ACEE;
    --github-bg: #000;
    --icon-hover: goldenrod;
    --icon-color: white;
    --credit-hover-color: white;
    --credit-hover-bg: black;
    --calc-table-border: #ddd;
    --math-color: white;
    --math-bg-color: black;
  }
  /* font application */
  h1,
h2,
h3,
h4,
h5,
h6,
footer,
h1 a,
li a {
  font-family: var(--font-serif-titles);
}
figcaption {
  font-family: var(--font-serif-titles);
  font-size: .7rem
}
p {
  font-family: var(--font-serif-text);
}
/* brand */
.brand a {
    color: var(--brand-color);
    text-decoration: none;
  }

  /* layout */
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  .single-col-container>*,
.container>* {
  color: var(--main-text-color);
  line-height: 1.5;
  background: var(--container-bg-color);
}

.single-col-container nav,
.container nav {
  padding: 10px;
}

.container>aside,
section {
  padding: 20px;
}

footer {
  padding: 0 10px;
}

/* nav styles */
.single-col-container nav,
.container nav {
  background-color: var(--nav-bg-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--nav-text-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

a.toggle {
  text-decoration: none;
}

nav .active {
  background-color: var(--nav-hover-color);
  height: 50px;
  line-height: 50px;
}

nav li {
  text-align: center;
}

nav .active a {
  color: var(--nav-active);
}